
#server:
  #port : 8761

#eureka:
  #instance:
    #hostname : localhost
  #client:
    #registerWithEureka : false
    #fetchRegistry : false
    #serviceUrl:
      #defaultZone : http://${eureka.instance.hostname}:${server.port}/eureka/

server:
  port: 8761
spring:
  application:
      name: eureka-server1
eureka:
  instance:
    hostname: server1
  client:
    registerWithEureka: false
    fetchRegistry : false
    serviceUrl:
      defaultZone: http://server2:8762/eureka/
